---
permalink: "/about/"
---

<!DOCTYPE html>

<html>

<!-- https://github.com/jaketrent/html-webpack-template/blob/86f285d5c790a6c15263f5cc50fd666d51f974fd/index.html -->

<head>
    <meta charset="UTF-8">
    <base href="/">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <%
    filter = function(files) {
        return files.filter(file => file.indexOf('inline') === -1);
    };
    %>

    <% for (var css in filter(htmlWebpackPlugin.files.css)) { %>
    <link href="css/<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

    <style>{% include css/about.inline.css %}</style>
</head>

<body>
    <h1>ABOUT</h1>

    <% if (htmlWebpackPlugin.options.window) { %>
    <script>
        <% for (var varName in htmlWebpackPlugin.options.window) { %>
        window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
        <% } %>
    </script>
    <% } %>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="js/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>

</html>